<div class="container" fxFlex="100" fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <mat-card id="card-hello" class="block-card">
    <mat-card-header style="justify-content: center; align-items: center;">
      <mat-card-title>
        <h2>Клиника HealthPoint</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="justify-content: center; align-items: center;" fxLayoutAlign="center" align="center">
      На сайте вы можете ознакомиться со спектром услуг, предоставляемых клиникой, посмотреть список наших специалистов и записаться на прием к одному из них.
    </mat-card-content>
  </mat-card>
  <app-slide-element id="card-slider"></app-slide-element>
  <app-popular-doctors id="card-doctors"></app-popular-doctors>
  <app-contactus id="card-contact"></app-contactus>
</div>