<div fxFlex style="width:100%; height:100%">
    <div fxLayout="row" fxLayout.xs="row">
        <p style="margin: 10px">Вход</p>
        <span class="flex-spacer"></span>
        <button mat-flat-button color="warn" mat-dialog-close style="margin: 10px">&times;</button>
    </div>
    <div style="padding: 20px">
        <div
        fxLayout="column"
        fxLayout.xs="column" 
        fxLayoutAlign="center center"
        >
        <h3>Войти в систему</h3>
        <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-dialog-content fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field>
                        <input matInput placeholder="Email" type="email"
                            [(ngModel)]="email" name="inputEmail"
                            #inputEmail="ngModel" required>
                        <mat-error *ngIf="inputEmail.errors?.required">Email is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password"
                            [(ngModel)]="password" name="inputPassword"
                            #inputPassword="ngModel" required>
                        <mat-error *ngIf="inputPassword.errors?.required">Password is required</mat-error>
                    </mat-form-field>
            </mat-dialog-content>
            <mat-dialog-actions>
                <span class="flex-spacer"></span>
                <button mat-button mat-dialog-close>Отмена</button>
                <button mat-button type="submit" class="background-primary text-floral-white"
                [disabled]="loginForm.form.invalid">Войти</button>
            </mat-dialog-actions>
        </form>
        </div>
        <div
        fxLayout="row"
        fxLayout.xs="column" 
        fxLayoutAlign="center center">
        <p>Нет аккаунта? <a routerLink="." on-click="openRegForm()">Зарегистрироваться</a></p>
        </div>
    </div>
</div>