<mat-card style="width: 100%" class="block-card">
    <mat-card-header style="justify-content: center; align-items: center;">
        <mat-card-title>
            <h2>Связаться с автором проекта</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <p>Автор: Тимофей Протасов</p>
        <p>Email: <a href="mailto:teprotasov@edu.hse.ru">teprotasov@edu.hse.ru</a></p>
        <p>Номер телефона: ...</p>
        <button mat-button on-click="openFeedbackForm()">Оставить обратную связь</button>
    </mat-card-content>
</mat-card>
