<div class="container"
  fxLayout="column"
  fxLayoutGap="1%">
  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="100" fxLayout="column" fxLayoutGap="1%">
        <mat-card>
          <mat-card-header class="text-container">
            <mat-card-title>
                <h3>{{article.title}}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-container">
            <mat-card fxLayout="column" fxLayoutGap="1%">
              <mat-card-content>
                <div>
                  <h3>Аннотация</h3>
                  <p>{{article.annotation}}</p>
                </div>
                <mat-divider></mat-divider>
                <p align="justify" style="text-indent: 10%; overflow: hidden; text-overflow: ellipsis;">{{article.text}}</p>
              </mat-card-content>
              </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

