<div class="container"
  fxLayout="column"
  fxLayoutGap="10px"
  >

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
      <div fxFlex="70">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
                <h3>Действия</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button on-click="openNewAppForm()">Новая запись</button>
            <button mat-raised-button on-click="openRegForm(false)">Новый пациент</button>
            <button mat-raised-button on-click="openRegForm(true)">Новый врач</button>
            <button mat-raised-button on-click="openNewServiceForm()">Новая услуга</button>
            <button mat-raised-button on-click="openNewSpecForm()">Новая специализация</button>
            <mat-radio-group [(ngModel)]="showType">
                <mat-radio-button [value]="1">Услуги</mat-radio-button>
                <mat-radio-button [value]="2">Записи</mat-radio-button>
                <mat-radio-button [value]="3">Врачи</mat-radio-button>
                <mat-radio-button [value]="4">Специализации</mat-radio-button>
            </mat-radio-group>

            <!-- SERVICES TABLE -->
            <table *ngIf="showType == 1" mat-table matSort matTableResponsive [dataSource]="services" >

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Название</th>
                  <td mat-cell *matCellDef="let service">{{service.name}}</td>
                </ng-container>
                
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Категория</th>
                  <td mat-cell *matCellDef="let service">{{getSpecById(service.specialization)}}</td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let service">
                    <button mat-flat-button on-click="deleteService(service.id)">
                      <mat-icon>delete</mat-icon>
                       Удалить
                    </button>
                    <button mat-flat-button on-click="openEditServiceForm(service.id)"><mat-icon>edit</mat-icon> Изменить</button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="servicesColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: servicesColumns;"></tr>

              </table>

            <!-- APPOINTMENTS TABLE -->
            <table *ngIf="showType == 2" mat-table matSort matTableResponsive [dataSource]="appointments" >

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Дата</th>
                  <td mat-cell *matCellDef="let appointment">{{getDateString(appointment.date, appointment.time)}}</td>
                </ng-container>
                
                <ng-container matColumnDef="medService">
                  <th mat-header-cell *matHeaderCellDef>Процедура</th>
                  <td mat-cell *matCellDef="let appointment">{{getServiceById(appointment.medServiceId)?.name}}</td>
                </ng-container>

                <ng-container matColumnDef="doctorType">
                    <th mat-header-cell *matHeaderCellDef>Категория</th>
                    <td mat-cell *matCellDef="let appointment">{{getSpecById(getServiceById(appointment.medServiceId)!.specialization)}}</td>
                </ng-container>
                
                <ng-container matColumnDef="doctor">
                  <th mat-header-cell *matHeaderCellDef>Врач</th>
                  <td mat-cell *matCellDef="let appointment">{{getDoctorById(appointment.doctorId)?.FIO}}</td>
                </ng-container>

                <ng-container matColumnDef="patient">
                    <th mat-header-cell *matHeaderCellDef>Пациент</th>
                    <td mat-cell *matCellDef="let appointment">{{getUserById(appointment.patientId)?.FIO}}</td>
                  </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let appointment">
                    <button mat-flat-button on-click="deleteAppointment(appointment.id)">
                      <mat-icon>delete</mat-icon>
                       Отменить
                    </button>
                    <button mat-flat-button on-click="openEditAppForm(appointment.id)">
                      <mat-icon>edit</mat-icon>
                       Изменить
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="appointmentColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: appointmentColumns;"></tr>

              </table>

            <!-- DOCTORS TABLE -->
            <table *ngIf="showType == 3" mat-table matSort matTableResponsive [dataSource]="doctors" >

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>ФИО</th>
                  <td mat-cell *matCellDef="let doctor">{{doctor.FIO}}</td>
                </ng-container>
                
                <ng-container matColumnDef="specialization">
                  <th mat-header-cell *matHeaderCellDef>Специализация</th>
                  <td mat-cell *matCellDef="let doctor">{{getSpecById(doctor.specializationId)}}</td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let doctor">
                    <button mat-flat-button on-click="deleteDoctor(doctor.doctorId)">
                      <mat-icon>delete</mat-icon>
                       Удалить
                    </button>
                    <button mat-flat-button on-click="openEditDoctorForm(doctor.doctorId, doctor.userId)"><mat-icon>edit</mat-icon> Изменить</button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="doctorsColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: doctorsColumns;"></tr>

              </table>

              <!-- SPECS TABLE -->
              <table *ngIf="showType == 4" mat-table matSort matTableResponsive [dataSource]="specs" >

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Название</th>
                  <td mat-cell *matCellDef="let spec">{{spec.name}}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Описание</th>
                  <td mat-cell *matCellDef="let spec">{{spec.description}}</td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let spec">
                    <button mat-flat-button on-click="openEditSpecForm(spec.id)"><mat-icon>edit</mat-icon> Изменить</button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="specsColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: specsColumns;"></tr>

              </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="30">
        <mat-card>
            <mat-card-content fxFlex fxLayout="column" fxLayoutGap="20px">
                <button mat-raised-button on-click="logout()">Выйти из учетной записи</button>
            </mat-card-content>
        </mat-card>
      </div>
</div>