<div fxLayoutGap="10px">
    <div fxLayout="row" fxLayout.xs="row">
        <p style="margin: 10px">Новая заявка</p>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close style="margin: 10px">&times;</button>
    </div>
    <div>
        <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-dialog-content>
                <div fxFlex fxLayout="column" fxLayoutGap="10">
                    <mat-form-field>
                        <input matInput placeholder="Ваше ФИО" type="text"
                            [(ngModel)]="feedback.username" name="username"
                            #name="ngModel" required>
                        <mat-error *ngIf="name.errors?.required">ФИО должно быть указано</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            placeholder="Комментарий"
                            [(ngModel)]="feedback.comment"
                            name="comment"
                            #comment="ngModel" required>
                        </textarea>
                        <mat-error *ngIf="comment.errors?.required">Оставьте комментарий</mat-error>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
                <span class="flex-spacer"></span>
                <button mat-button mat-dialog-close>Отмена</button>
                <button mat-button type="submit" class="background-primary text-floral-white"
                [disabled]="feedbackForm.form.invalid">Подтвердить</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>