<div class="container" *ngIf="!user">
    <div fxFlex style="display: flex; justify-content: center; align-items: center;">
        <mat-card style="justify-content: center; align-items: center;">
            <mat-card-header>
                <mat-card-title>
                    <p>ОШИБКА</p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{errorMsg}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<app-appointments *ngIf="user && user.profile !== UserProfileType.admin"></app-appointments>
<app-admin-panel *ngIf="user && user.profile === UserProfileType.admin"></app-admin-panel>